<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <div>
    <button @click=loginToFM()>Login</button>
    </div>
    <HelloWorld msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import axios from 'axios'

export default {
  name: 'home',
  components: {
    HelloWorld
  },
  data () {
    return {
      token: null,
      dataArray: []
    }
  },
  methods: {
    loginToFM () {
      let authData = btoa(process.env.VUE_APP_USERNAME+':'+process.env.VUE_APP_PASSWORD)
      let postData = {}
      let axiosConfig = {
        headers: {
          'Content-Type': 'application/json',
          Authorization: 'Basic ' + authData
        }
      }
      console.log("AXIOS CONFIG: ",axiosConfig)
      axios
        .post(
          'https://'+process.env.VUE_APP_SERVER_URL+'/fmi/data/v1/databases/'+process.env.VUE_APP_DATABASE_NAME+'/sessions',
          postData,
          axiosConfig
        )
        .then(result => {
          this.token = result.data.response.token
          this.getDataFromFM()
        })
        .catch(error => {
          console.log('AXIOS AUTH ERROR: ', error)
          alert(
            `There was a problem connecting to FileMaker... please try again.`
          )
        })
    },
    getDataFromFM () {
      let postData = {
        // query: [
        //   { MYFIELD:"MYFINDDATA" }
        // ],
        // "portal": ["MYPORTAL"]
      }
      console.log(postData)
      let axiosConfig = {
        headers: {
          'Content-Type': 'application/json',
          Authorization: 'Bearer ' + this.token
        }
      }
      console.log(axiosConfig)
      axios
        .get(
          'https://'+process.env.VUE_APP_SERVER_URL+'/fmi/data/v1/databases/'+process.env.VUE_APP_DATABASE_NAME+'/layouts/'+process.env.VUE_APP_LAYOUT_NAME+'/records',
          // postData,
          axiosConfig
        )
        .then(result => {
          console.log('AXIOS GET RESULT: ', result)
          this.dataArray = result.data.response.data
          console.log('ADATA ARRAY: ', this.dataArray)
          this.logoutOfFM(this.token)
        })
        .catch(error => {
          console.log('AXIOS GET ERROR: ', error)
            alert(
              `There was a problem retrieving data from FileMaker... please try again.`
            );
        })
    },
    logoutOfFM (token) {
      axios
        .delete(
          'https://'+process.env.VUE_APP_SERVER_URL+'/fmi/data/v1/databases/'+process.env.VUE_APP_DATABASE_NAME+'/sessions/' +
            this.token
        )
        .then(result => {
        })
        .catch(error => {
          alert(`There was a problem disconnecting from FileMaker.`)
        })
    }
  },
  created () {
    // this.loginToFM()
  }
}
</script>
